<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button [matMenuTriggerFor]="bookMenu" class="book-menu" mat-menu-item>
            Book
        </button>
        <mat-menu #bookMenu="matMenu">
            <button mat-menu-item routerLink="/books">Bücher anzeigen</button>
            <button mat-menu-item routerLink="/books/new">Neues Buch anlegen</button>
        </mat-menu>
        <span class="spacer"></span>
        <span routerLink="/">{{ "APP_TITLE" | translate }}</span>
        <span class="spacer"></span>
        <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
        </mat-slide-toggle>
        <mat-icon>bedtime</mat-icon>
        <button [matMenuTriggerFor]="languageMenu" class="flag" mat-menu-item>
            <img
                    [src]="'/assets/flags/' + this.languageInUse + '.svg'"
                    alt="country flag"
            />
        </button>
        <mat-menu #languageMenu="matMenu">
            <button
                    (click)="changeLanguage(language)"
                    *ngFor="let language of languages"
                    mat-menu-item
            >
                <img
                        [src]="'/assets/flags/' + language + '.svg'"
                        alt="country flag"
                        width="30px"
                />
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
